

.container {
  min-height: 100vh;
  background: radial-gradient(circle at top left, #1a1a1a, #4e4d4d);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.signupForm {
  background: #111;
  border: 1px solid #2a2a2a;
  border-radius: 20px;
  padding: 3rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  gap: 2 rem;
  transition: all 0.3s ease;
}

.signupForm:hover {
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.08);
}

.formTitle {
  text-align: center;
  font-size: 2rem;
  color: #f0f0f0;
  letter-spacing: 2px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.9 rem;
}

.label {
  font-size: 0.9rem;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ccc;
}

.input {
  padding: 0.75rem 1rem;
  border-radius: 12px;
  border: 1px solid #333;
  background-color: #222;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #e24a8c;
  box-shadow: 0 0 10px #e24a75;
}

.submitBtn {
  background:linear-gradient(rgb(181, 16, 80),rgb(238, 58, 85)) ;
  color: #fff;
  padding: 0.8rem;
  border: none;
  margin-top: 10%;
  border-radius: 14px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.submitBtn:hover {
  transform: scale(1.03);
}

.responseMessage {
  text-align: center;
  color: #ff2b2b;
  font-weight: 600;
}

.homeLink {
  display: block;
  margin-top: 1rem;
  text-align: center;
  color: #4a90e2;
  font-weight: bold;
  text-decoration: none;
}

.homeLink:hover {
  text-decoration: underline;
  color: #fff;
}

a {
  color: #888;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #fff;
}
body{
  margin: 0;
}